.task{
    background:white;
    padding:.5rem 1rem;  
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-radius:5px;
    margin:1rem 0;
}

.task__date{
    display:flex;
    flex-direction: column;
    width:max-content;
    align-items:center;
}

.task__day{
    font-size:2rem;
    font-weight:bold;
    color:#C0C0C0;
    display:inline-block;
    transform:translate(0px,4px);
}

.task__month{
    font-size:.8rem;
    color:#C0C0C0;
    font-weight:400;
    transform:translate(2px,-5px)
}

.task__description{
    color:gray;
    font-size:.9rem
}

.task__status{
    width:30%;
    height:2.5rem;
    border:1px solid lightblue;
    border-radius:10px;
    font-size:.8rem;
    text-align:center;
    color:gray
}








