.container{
    width:100%;
    min-height:100vh ;
    height:100%;
    background: #F7D723;
    padding-bottom:1rem;

}

.containerTasks__addTask{
    display:block;
    
    background:var(--purple);
    width:max-content;

    color:white;
    font-size:1rem;

    margin:2rem auto 0;
    padding:.5rem 1rem;

    cursor:pointer;
    border-radius:5px;
    transition:background 200ms
}

.containerTasks__addTask:hover{

    background:#892DB5;

}



